<div style="clear: both;  margin-top: 40px; margin-bottom: 40px;">
    <div style="float: left; margin-right: 40px;">
      {% if include.webpage %}
        <a href="{{ include.webpage }}"><img src="{{ include.image_path }}" width="200" alt="Picture of {{ include.name }}"></a>
      {% else %}
        <img src="{{ include.image_path }}" width="200" alt="Picture of {{ include.name }}">
      {% endif %}
    </div>
    <div style="overflow: hidden;">
      {% if include.webpage %}
        <a href="{{ include.webpage }}"><h3 style="margin: 0;">{{ include.name }}</h3></a>
      {% else %}
        <h3 style="margin: 0;">{{ include.name }}</h3>
      {% endif %}
      <h4 style="margin: 0;">{{ include.affiliation }}</h4>
      {{ include.description | markdownify }}
    </div>
</div>  
